
<section class="breadcrumb-section set-bg" [ngStyle]="{backgroundImage:'url(assets/image/1920x1080.jpg'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>My Order</h2>
                    <div class="breadcrumb__option">
                        <a routerLink="/" >Home</a>
                        <span>My Order</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="card">
    <p-table #dt [value]="listOrder" [rows]="10" [paginator]="true" [globalFilterFields]="['phone']" [tableStyle]="{'min-width': '75rem'}"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Order</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Tìm kiếm" />`
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
              <th pSortableColumn="lastname">Customer <p-sortIcon field="lastname"></p-sortIcon></th>
                <th pSortableColumn="address">Address <p-sortIcon field="address"></p-sortIcon></th>
              <th pSortableColumn="town">Town <p-sortIcon field="town"></p-sortIcon></th>
                <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon></th>
              <!--                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>-->
              <th pSortableColumn="totalPrice">Total <p-sortIcon field="totalPrice"></p-sortIcon></th>
<!--                <th pSortableColumn="note">Note <p-sortIcon field="note"></p-sortIcon></th>-->
                <th pSortableColumn="paymentStatus">Payment Status <p-sortIcon field="paymentStatus"></p-sortIcon></th>
              <th pSortableColumn="createAt">CreateAt <p-sortIcon field="createAt"></p-sortIcon></th>
              <th style="min-width:15rem">Product</th>
              <th pSortableColumn="status">Status <p-sortIcon></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td style="width: 4rem">
                    <p-tableCheckbox [value]="order"></p-tableCheckbox>
                </td>
                <td>{{order.firstname}} {{order.lastname}}</td>
                <td>{{order.address}}</td>
                <td>{{order.town}}</td>
                <td>{{order.phone}}</td>
              <!--                <td>{{order.email}}</td>-->
                <td>{{order.totalPrice}} &#x20AB;</td>
<!--                <td>{{order.note}}</td>-->
                <td>{{order.paymentStatus}}</td>
                <td>{{order.createAt.substring(0, 10)}}</td>
              <td>
                <button pButton pRipple label="Xem sản phẩm" icon="pi pi-eye" class="p-button-success mr-2" (click)="showForm(order)"></button>
                <p-dialog header="Sản phẩm" [(visible)]="displayForm" [style]="{width: '30vw'}" [modal]="true" [transitionOptions]="'.3s'" [appendTo]="'body'">
                  <form action="">
                    <div class="p-field">
                      <label style="color: red">Danh sách sản phẩm:</label>
                      <ul>
                        <li *ngFor="let item of orderDetails">
                          {{ item.name }}: {{item.quantity}} (kg)
                        </li>
                      </ul>
                    </div>
                    <div class="p-field mt-3">
                      <button pButton type="button" class="p-button-danger ml-3" (click)="displayForm=false">Đóng</button>
                    </div>
                  </form>
                </p-dialog>
              </td>
              <td>
                <button style="min-width: 11vw" pButton type="button"
                        label="{{order.status === 1 ? 'Đợi xác nhận đơn' : order.status === 2 ? 'Đang chuẩn bị hàng' : order.status === 3 ? 'Đang vận chuyển' : order.status === 4 ? 'Giao hàng thành công' : 'Đã hủy'}}"
                        [ngClass]="{
            'p-button-success': order.status === 1,
            'p-button-warning': order.status === 2 || order.status === 3,
            'p-button-primary': order.status === 4,
            'p-button-danger': order.status !== 1 && order.status !== 2 && order.status !== 3 && order.status !== 4
          }">
                </button>
              </td>
              <td>
                <button style="min-width: 7vw" pButton type="button"
                        (click)="destroy(order.id, order.status)"
                        label="{{order.status === 0 ? 'Đặt lại': 'Hủy'}}"
                        *ngIf="order.status >= 0 && order.status < 2 && order.paymentStatus !== 'Thanh toán Online'"
                        [ngClass]="{
            'p-button-success': order.status === 0,
            'p-button-danger': order.status !== 0
          }">
                </button>
              </td>
            </tr>
        </ng-template>
    </p-table>
</div>

